/*MAIN_BLOG*/

.main_blog {
  max-width: calc(1300px - 40px);
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /*importante para estudo*/
  flex-wrap: wrap;
  /*Quebrar quando chegar a 100 largura*/
}

.main_blog .main_blog_header {
  flex-basis: 100%;
  margin: 30px 0;
}

.main_blog .main_blog_header h1 {
  color: #333;
  margin-bottom: 5px;
  font-size: 1.8em;
}

.main_blog article {
  opacity: 0.7;
  flex-basis: calc(25% - 20px);
  margin-bottom: 30px;
}

.main_blog article:hover {
  opacity: 1;
}

.main_blog article img {
  width: 100%;
}

.main_blog article p {
  margin: 10px 0;
}

.main_blog article .category {
  font-size: 0.875em;
  color: #D36833;
}

.main_blog article h2 {
  font-weight: 300;
  color: #333;
  font-size: 1.2em;
}

.main_blog article a {
  color: #333;
}

.main_blog .main_blog_meta{
  font-size: 0.8em;
  margin-top: 10px;
  background-color: #FBFBFB;
  padding: 10px 5px;
  text-align: center;
}

.main_blog .main_blog_meta p {
  margin: 0;
  color: #9999;
  font-weight: 400;
  margin-bottom: 10px;
}

.main_blog .main_blog_meta{
  color: #999;
}

.main_blog .main_blog_meta p a{
  color: #666;
}

.main_blog .main_blog_meta p a:hover{
  text-decoration: underline;
}

.main_blog .main_blog_meta img{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-left: 5px;
}

/* 640px */
@media (max-width: 40em) {
  .main_blog article {
    flex-basis: calc(50% - 10px);
  }
}

  /* 480px */
@media (max-width: 30em) {
  .main_blog article {
    flex-basis: 100%;
  }
}